[Desktop Entry]
Name=cdcat
Name[pl]=cdcat
Comment=Hyper's CdCat
Comment[pl]=Katalog CD Hypera
Icon=cdcat.png
Exec=cdcat
Terminal=false
Type=Application
Categories=Qt;Utility;
Encoding=UTF-8
# vi: encoding=utf-8
